html, body {
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 20px 20px #edede9;
}
.nav-items {
  list-style: none;
  display: flex;
  margin: 10px;
}
.nav-items > li {
  padding: 10px;
}
.nav-logo{
  width: 60px;
}
.content-body{
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}
.footer-text{
  padding: 10px;
  background-color: rgba(23,22,16,0.6);
}